<script src="/js/randompair.js"></script>
<form method="post" action="/pairs">

<div id="duh">

</div>
<input type="submit" value="SUBMIT">
</form>

<%=result%>

<button onclick="pushy()">More Names</button>
